<section class="emp_detail_section">
    <app-loader [isLoading]="showLoader"></app-loader>
    <a [routerLink]="['/emp_list']" class="btn header_btn back_btn">Back</a>
    <div class="flex flex_column">
        <div class="flex top_container">
            <div class="avatar_container">
                <img [src]="'../../../assets/images/'+empData.avatar+'.png'" />
            </div>
            <div class="m-l-40 name_container">
                <h1 class="m-b-10">{{empData.name}}</h1>
                <h2>{{empData.email}}</h2>
            </div>
            <div class="flex button_container">
                <button *ngIf="!isEditMode" type="submit" [disabled]="empForm.form.invalid" (click)="empForm.ngSubmit.emit()" class="btn">Create</button>
                <button *ngIf="isEditMode" type="submit" (click)="empForm.ngSubmit.emit()" [disabled]="empForm.form.invalid || !empForm.form.dirty" class="btn">Update</button>
                <button class="btn" (click)="onCancel(empForm)" [disabled]="!empForm.form.dirty">Cancel</button>
            </div>
        </div>
        <div class="m-t-50">
            <form #empForm="ngForm" (ngSubmit)="onSubmit(empForm)" class="flex attr_container">
                <div class="float_container float_container_input">
                    <input [(ngModel)]="empData.name" name="name" class="float_input" type="text" required placeholder="Firstname Lastname">
                    <span class="floating_placeholder">Name</span>
                </div>
                <div class="float_container float_container_input">
                    <input [(ngModel)]="empData.companyName"  name="companyName" class="float_input" type="text" required placeholder="ex. Abc Pvt. Ltd">
                    <span class="floating_placeholder">Company Name</span>
                </div>
                <div class="float_container float_container_input">
                    <input [(ngModel)]="empData.email" name="email" class="float_input" [pattern]="emailPattern" type="email" required #emailId="ngModel" placeholder="example@gmail.com">
                    <span class="floating_placeholder">Email ID</span>
                    <div *ngIf="emailId.touched && emailId.errors" class="error">  
                            Email Not valid.
                          </div>   
                </div>
                <div class="float_container float_container_input">
                    <input [(ngModel)]="empData.contactNum" name="contactNum" class="float_input" [pattern]="mobNumberPattern" #mobNumber="ngModel" type="number" placeholder="ex. 1234567899" required>
                    <span class="floating_placeholder">Contatc Number</span>
                            <div *ngIf="mobNumber.touched && mobNumber.errors" class="error">  
                              Mobile number not valid.  
                            </div>   
                </div>
                <div class="float_container float_container_input">
                    <input [(ngModel)]="empData.designation" name="designation" class="float_input" placeholder="ex. UI Developer" type="string" required>
                    <span class="floating_placeholder">Designation</span>
                </div>
            </form>
        </div>
    </div>
</section>