.emp_detail_section{
    padding: 1rem 3rem;
    color: var(--black-color);
}
.top_container{
    position: relative;
    flex-wrap: wrap;
}
h1,span{
    color: var(--black-color);
}

.button_container{
   position: absolute;
   right: 0
}
.attr_container{
    flex-wrap: wrap;
    justify-content: space-between;
}

.avatar_container{
    width: 200px;
    height:200px
}

.back_btn{
    left: 0;
}

::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
  }

  input:focus::-webkit-input-placeholder {
    opacity: 1;
  }

@media only screen and (max-width:720px) {
  .button_container{
      position: initial
  }
  .name_container{
      margin: 20px 0;
      text-align: center
  }
  .top_container > div{
    flex: 1 100%;
    justify-content: center;
  }
  .attr_container{
   justify-content: space-around
  }
  }
