.emp_card{
    width: 300px;
    position: relative;
    min-height: 200px;
    background: #545480;
    border-radius: 1rem;
    padding: 1rem;
    overflow: hidden;
    margin: 1rem 0;
    transition: .5s all ease-in-out
}
.button_container{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    background: #656565c7;
    padding: 0.5rem;
    transform: translateY(100%);
    transition: .5s all ease-in-out
}
.avatar_container{
    width: 70px;
    width: 70px
}

.emp_card:hover .button_container{
    transform: translateY(0)
}

.emp_card:hover{
    transform: scale(1.1)
}