<section class="emp_list_section">
    <div class="flex flex_column emp_card">
        <div class="flex">
            <div class="avatar_container">
                <img [src]="'../../../assets/images/'+empData.avatar+'.png'" />
            </div>
            <div class="m-l-15">
                <p>{{empData.name}}</p>
                <p>{{empData.contactNum}}</p>
            </div>
        </div>
        <div class="m-t-10">
            <p>{{empData.email}}</p>
            <p>{{empData.companyName}}</p>
            <p>{{empData.designation}}</p>
        </div>
        <div class="flex button_container">
            <a [routerLink]="['/emp_detail',empData.id]" class="btn">View / Edit</a>
            <button [id]="'delete#'+empData.id" class="btn del_btn">Delete</button>
        </div>
    </div>
</section>